USE [master]
GO
/****** Object:  Database [stuSys]    Script Date: 2019/10/21 10:43:29 ******/
CREATE DATABASE [stuSys]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'stuSys', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\stuSys.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'stuSys_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\stuSys_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [stuSys].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [stuSys]
GO
USE [stuSys]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 2019/10/21 10:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[课程编号] [int] IDENTITY(1,1) NOT NULL,
	[课程名称] [varchar](max) NOT NULL,
	[任课教师] [char](10) NOT NULL,
	[课程性质] [char](10) NOT NULL,
	[起止周] [varchar](max) NOT NULL,
	[总学时] [int] NOT NULL,
	[班级名称] [varchar](max) NOT NULL,
	[学年] [char](10) NOT NULL,
	[学期] [int] NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[课程编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personalCourse]    Script Date: 2019/10/21 10:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personalCourse](
	[星期] [char](10) NOT NULL,
	[第一节] [varchar](max) NULL,
	[第二节] [varchar](max) NULL,
	[第三节] [varchar](max) NULL,
	[第四节] [varchar](max) NULL,
	[第五节] [varchar](max) NULL,
	[学号] [char](12) NOT NULL,
	[学年] [varchar](10) NULL,
	[学期] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[selectCourse]    Script Date: 2019/10/21 10:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[selectCourse](
	[课程编号] [int] NULL,
	[课程名称] [varchar](50) NULL,
	[教师姓名] [char](10) NULL,
	[上课时间] [varchar](50) NULL,
	[上课地点] [varchar](50) NULL,
	[学分] [int] NULL,
	[容量] [int] NULL,
	[已选] [int] NULL,
	[余量]  AS ([容量]-[已选])
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[studentList]    Script Date: 2019/10/21 10:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[studentList](
	[课程编号] [int] NOT NULL,
	[学号] [varchar](50) NOT NULL,
	[姓名] [char](10) NOT NULL,
	[备注] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teacherCourse]    Script Date: 2019/10/21 10:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacherCourse](
	[课程编号] [int] NOT NULL,
	[课程名称] [varchar](50) NOT NULL,
	[上课地点] [varchar](50) NOT NULL,
	[上课时间] [varchar](max) NOT NULL,
	[任课教师] [char](10) NOT NULL,
	[上课班级] [varchar](50) NULL,
	[人数] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
