<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="testConnectionString" connectionString="Data Source=DESKTOP-TIOVFOR;Initial Catalog=test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="testConnectionString2" connectionString="Data Source=DESKTOP-TIOVFOR;Initial Catalog=test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="testConnectionString3" connectionString="Data Source=DESKTOP-TIOVFOR;Initial Catalog=test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="testConnectionString4" connectionString="Data Source=DESKTOP-TIOVFOR;Initial Catalog=test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="testConnectionString5" connectionString="Data Source=DESKTOP-TIOVFOR;Initial Catalog=test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="testConnectionString6" connectionString="Data Source=DESKTOP-TIOVFOR;Initial Catalog=test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="stuSysConnectionString" connectionString="Data Source=DESKTOP-TIOVFOR;Initial Catalog=stuSys;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="stuSysConnectionString2" connectionString="Data Source=DESKTOP-TIOVFOR;Initial Catalog=stuSys;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="stuSysConnectionString3" connectionString="Data Source=DESKTOP-TIOVFOR;Initial Catalog=stuSys;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="stuSysConnectionString4" connectionString="Data Source=DESKTOP-TIOVFOR;Initial Catalog=stuSys;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="stuSysConnectionString5" connectionString="Data Source=DESKTOP-TIOVFOR;Initial Catalog=stuSys;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="connection" connectionString="Data Source=DESKTOP-TIOVFOR;Initial Catalog=stuSys;Integrated Security=True" ></add>
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
